.lists-wrapper {
  min-width: 150px;
  /* reserve width */
  min-height: 100%;
  height: auto;
  /* take full height of container */
  background-color: #f0f0f0;
  /* optional for visual debugging */
  text-align: center;
  overflow-y: auto;
}

h3 {
  margin: 8px 0;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.list {
  transition: .2s;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

.list:hover {
  background-color: #e0e0e0;
}

.list.active {
  background-color: #e0e0e0;
}


.list h3 {
  cursor:default;
}



.list-actions {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 auto;
}

.options {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin-left: auto;

  border-radius: 20px;
  padding: 0;
}

.options:hover {
  color: rgb(131, 127, 127);
}

.list:hover .options{
  display: inline;
}

.del {
  border: solid lightgrey 1px;
  padding: 3px;
  font-size: 10px;
  visibility: hidden;
  position: absolute;
  cursor: pointer;
  right: 17px;
  bottom: -3px;
}

.del:hover {
  color: rgba(0, 0, 0, 0.679);
}

.del.show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  /* mobile styles */
  .lists-wrapper {
    min-width: 90px;
    max-width: 90px;
  }
  

  h3 {
    margin: 5px 0;
    font-size: 11px;
  }

  .options {
    top: -2px;
    font-size: 10px;
  }
  
  
  .del {
    font-size: 3px;
    padding: 1px;
    bottom: 3px;
    right: 14px;
  }
}