.header {
  display: flex;
  width: 100%;
  margin: 20px 20px 0;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; /* horizontal centering */
}

.header-icon:hover {
  background-color: buttonface;
}
.header-icon {
  padding: 3px 6px 8px 8px;
  border-radius: 50%;
  background: none;
  border: solid  0.1px;
  font-size: 2rem;
  cursor: pointer;
  transition: .2s;
}

.header-title {
  align-items: center;
  height: 30px;
  border-radius: 5%;
  margin-left: 10px;
  padding: 2px 10px;
  width: 90px;
  letter-spacing: 1px;
  font-size: 15px;
  border: none;
  transition: .2s;
  font-family: 'Inter', sans-serif;  /* your chosen font */
  font-size: 19px;                    /* optional size */
  font-weight: 600;
}

.header-title:hover {
  background-color: rgba(211, 211, 211, 0.356);
}

@media (max-width: 768px) {
  .header-icon {
    font-size: 1.5rem;
    padding: 1px 4px 6px 6px;
  }

  .header-title {
    font-size: 14px;

  }
}
