.todos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* stretch children like .hr */
  width: 100%;
  padding: 0 20px;
}

.hr {
  height: 1px;
  width: 100%; /* always stretch */
  background-color: lightgrey;
  margin: 20px 0;
  flex-shrink: 0; /* prevents hr from shrinking in a flex container */
}

