body {
  margin: 0;            /* remove default margin */
  padding: 0;
  font-family: 'Inter', sans-serif;
}


h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

